body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #a769ac, #a693cf, #6da0af);
}

.about,
.title-page {
    font-size: 3rem;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
}

.title-page {
    font-size: 3.5rem;
}

.content,
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today_task,
.completed_task {
    margin: 20px;
    padding: 20px;
    width: 400px;
    background: transparent;
    border-radius: 20px;
    height: 40vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.today_task {
    background-color: gradient;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 0 20px 0 20px;

}

th {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 0 20px 10px 20px;
}

table {
    table-layout: fixed;
    width: 100%;
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
}

input {
    margin-bottom: 20px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-field {
    font-size: 2rem;
    background-color: transparent;
    text-align: center;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}

.input-field:focus {
    outline: none;
    color: white;
    border-bottom: 2px solid white;
}

.primary-btn {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    margin: 30px 10px 0 10px;
    background-color: rgb(17, 149, 167);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover,
.primary-btn:hover {
    background-color: rgb(12, 96, 107);
    color: lightskyblue;
}

button:active,
.primary-btn:active {
    background-color: rgb(183, 159, 211);
    color: rgb(79, 27, 146);
}

.about {
    font-size: 2rem;
}

.task-name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: white;
    font-weight: 800;
}

span {
    color: rgb(117, 68, 150);
    font-weight: 800;
    font-size: 2rem;
}

input.primary-btn {
    margin: 0 10px 0 10px;
}

.notice {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}