<%= stylesheet_link_tag "show" %>

<div class="note-bg">
    <div class="outline"></div>
    <div class="outline">
        <div class="body-task">
            <div class="text"><%= @task.body %></div>
        </div>
    </div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
</div>